.landing__stats {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 70px;
}

.landing__stat {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.landing__stat-value {
    font-family: var(--labor-font-heading);
    font-size: var(--labor-font-size-3xl);
    font-weight: var(--labor-font-weight-bold);
}

.landing__stat-label {
    font-family: var(--labor-font-body);
    font-size: var(--labor-font-size-xl);
}

@media (max-width: 768px) {
    .landing__stats {
        gap: 30px;
        padding: 50px;
        margin-top: 30px;
    }

    .landing__stat-value  {
        font-size: var(--labor-font-size-2xl);
    }

    .landing__stat-label {
        font-size: var(--labor-font-size-l);
    }
}